@model TaskBookWebApp.Models.TaskData

@{
    ViewData["Title"] = "EditData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Modify Task</h1>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-action="EditData">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TaskId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label fw-bold"></label>
                    <input asp-for="Name" class="form-control alphabets-only" />
                    <span asp-validation-for="Name" class="text-danger small">
                        * only alphabtes and whitespaces are allowed
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="AssignedBy" class="control-label fw-bold"></label>
                    <input asp-for="AssignedBy" class="form-control alphabets-only" />
                    <span asp-validation-for="AssignedBy" class="text-danger small">
                        * only alphabtes and whitespaces are allowed
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="AssignedTo" class="control-label fw-bold"></label>
                    <input asp-for="AssignedTo" class="form-control alphabets-only" />
                    <span asp-validation-for="AssignedTo" class="text-danger small">
                        * only alphabtes and whitespaces are allowed
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label fw-bold"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label fw-bold"></label>
                    <input asp-for="Duration" class="form-control numbers-only" />
                    <span asp-validation-for="Duration" class="text-danger small">
                        * only numeric values are allowed
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label fw-bold"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="On hold">On hold</option>
                        <option value="On going">On going</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger small"></span>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="ViewData" class="btn btn-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
}

