@{
    ViewData["Title"] = "Store Data";
    ViewData["footer"] = null;
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Add Task</h1>
</div>

<form id="taskForm" asp-controller="Task" asp-action="StoreData" method="post">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="textbox1" class="fw-bold">Name</label>
                    <input type="text" class="form-control alphabets-only" placeholder="name of task" required name="Name">
                    <span class="text-danger small">* only alphabets and white spaces are allowed.</span>
                </div>
                <div class="form-group">
                    <label for="textbox2" class="fw-bold">Assigned by</label>
                    <input type="text" class="form-control alphabets-only" placeholder="task assigned by" required name="AssignedBy">
                    <span class="text-danger small">* only alphabets and white spaces are allowed.</span>
                </div>
                <div class="form-group">
                    <label for="textbox3" class="fw-bold">Assigned to</label>
                    <input type="text" class="form-control alphabets-only" placeholder="task assigned to" required name="AssignedTo">
                    <span class="text-danger small">* only alphabets and white spaces are allowed.</span>
                </div>
                <div class="form-group">
                    <label for="textbox4" class="fw-bold">Date</label>
                    <input type="date" class="form-control" placeholder="Textbox 4" style="margin-bottom:20px" required name="Date">
                </div>
                <div class="form-group">
                    <label for="textbox5" class="fw-bold">Duration</label>
                    <input type="number" step="0.01" class="form-control numbers-only" placeholder="task duration" required name="Duration">
                    <span class="text-danger small">* only numeric values are allowed.</span>
                </div>
                <div class="form-group">
                    <label for="textbox6" class="fw-bold">Status</label>
                    <select class="form-control" name="Status" style="margin-bottom:20px">
                        <option value="" disabled selected>Choose an option</option>
                        <option value="On hold">On hold</option>
                        <option value="On going">On going</option>
                        <option value="Completed">Completed</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="btn-toolbar">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button type="button" class="btn btn-warning" id="clearButton">Clear</button>
                </div>
            </div>
        </div>
    </div>
</form>

@if (ViewBag.Errors != null && ViewBag.Errors.Count > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js"></script>
}

