@{
    ViewData["Title"] = "Home Page";
    ViewData["footer"] = null;
}



<div class="container-fluid position-relative d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h2>Yet Another Taskbook App</h2>
    </div>
</div>