@{
    ViewData["Title"] = "Home Page";
    ViewData["footer"] = null;
}

@*<div class="position-absolute top-50 start-50 translate-middle">
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("StoreData","Task")'">Add Task</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("ViewData","Task")'">View Task</button>
</div>*@
